/* Dark mode */
[data-md-color-scheme="slate"] {
    --md-default-bg-color: #282c34;
    --md-default-tab-color: #98c379;
}

/* Light mode */
[data-md-color-scheme="default"]{
    --md-primary-fg-color: #282c34;
    --md-default-bg-color: #ffffff;
    --md-default-tab-color: #98c379;
}

#left-index {
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;
}

.md-main {
    border-width: 10px 0px 0px 0px;
    border-style: solid;
    border-color: var(--md-default-tab-color);
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}
